{% extends 'judiciary/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
      xmlns="http://www.w3.org/1999/html">

<div class="container">
    <div class="row">
        <div class="page-header">
            <h3 class="text-center text-primary">PENTAGON</h3>
        </div>
    </div>
    <div class="row">
        <form method="post" action="" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form|crispy }}
         <table class="table">

             <thead><th>First Name</th><th>Middle Name</th><th>Last Name</th><th>Mug Shot</th><th>Prison Name</th><th>Action</th></thead>
            <tbody>
               {% if criminals %}
                  {% for criminal in criminals %}
                      <tr>
                        <td>{{ criminal.firstname }}</td>
                        <td>{{ criminal.middlename }}</td>
                        <td>{{ criminal.lastname}}</td>
                        <td><img src="{{ criminal.mugshot.url }}" alt="" style="height: 100px; width: 100px"></td>
                        <td>{{ criminal.prisonname }}</td>
                        <td><a href="{% url 'judiciary:update' criminal.id %}" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-pencil"></span>Update</a> <a href="{% url 'judiciary:delete' criminal.id %}" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-trash"></span>Delete</a> <a href="{% url 'judiciary:more' criminal.id %}" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-pencil"></span>More </a> </td>

                      </tr>
                  {% endfor %}
               {% endif %}
            </tbody>
         </table>
        </form>
    </div>
</div>
{% endblock %}